# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/themes/*
!web/app/themes/.gitkeep
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
web/php_errorlog
web/php_mail.log

# WordPress
web/wp
web/.htaccess

# WP-CLI
db-sync
sql-dump-*.sql

# Dotenv
.env
.env.*
!.env.example

# Node Package Manager
node_modules

# Vagrant
bin
.vagrant

# Composer
vendor/*
!vendor/.gitkeep
composer.phar

# Server
access-logs
default.htm

